@import "./common/base.scss";
@import "./mixins/base.scss";

.el-form {
  &.el-form--inline {
    .el-form-item {
      margin-bottom: $margin;
    }
    .el-form-item--mini,
    .el-form-item--small {
      &.el-form-item {
        margin-bottom: $margin;
      }
    }
  }

  .el-form-item {
    margin-bottom: $margin;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.t-query {
  $height: 54px;

  &-panel {
    position: relative;
    height: 100%;
    box-sizing: border-box;
  }

  &-bar {
    padding: $margin $margin 0 $margin;
    border-bottom: 1px solid $borderColor_default;
    box-sizing: border-box;

    .el-form-item {
      margin-bottom: $margin;

      &:last-child {
        margin-right: 0;
      }

      &.el-form-item--mini,
      &.el-form-item--small {
        margin-bottom: $margin;
      }
    }
  }

  &-wrapper {
    height: calc(100% - #{$height});
    padding: $margin;
    box-sizing: border-box;
  }

  &-footer {
    padding: $margin;
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
  }
}

.t-form {
  padding: {
    left: 10px;
    right: 10px;
  }
  @include row-spacing($margin);

  &:first-child {
    padding-top: 10px;
  }

  .el-form {
    &-item {
      // margin-bottom: 15px;

      // &:last-child {
      //   margin-bottom: 0;
      // }

      &.el-form-item--mini,
      &.el-form-item--small {
        @include row-spacing($margin);
      }

      &__content {
        & > .el-input,
        & > .el-select {
          width: 100%;
        }
      }

      &[unit] {
        position: relative;

        &::after {
          content: attr(unit);
          display: flex;
          align-items: center;
          position: absolute;
          top: 0;
          right: 0;
          width: 50px;
          height: 100%;
          padding-left: 10px;
          box-sizing: border-box;
        }

        .el-form-item__content {
          margin-right: 50px;
        }

        &[unit-width="80px"] {
          $width: 90px;

          &::after {
            width: $width;
          }

          .el-form-item__content {
            margin-right: $width;
          }
        }
      }
    }
  }
}

.el-input__icon.iconfont {
  display: inline-block;
  width: 25px;
  text-align: center;
}
