@import "./common/layout";

.t-layout {
  $color: #eeeeee;
  position: relative;
  height: 100%;
  box-sizing: border-box;

  &-header,
  &-footer,
  &-body {
    position: relative;
  }

  &-header,
  &-footer,
  &-left,
  &-right {
    box-sizing: border-box;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out;
    &.t-control {
      position: relative;
      &.t-selected {
        .t-control-strip {
          opacity: 1;
        }
      }
    }
  }

  &-left,
  &-right {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;

    .t-layout-wrapper {
      overflow-x: hidden;
    }
    .t-control-strip {
      position: absolute;
      top: 0;
      transform: none;
      opacity: 0;
      background-color: #cccccc;
      transition: left 0.5s ease-in-out, right 0.5s ease-in-out, opacity 0.5s;

      width: 10px;
      height: 100%;

      &:hover {
        opacity: 1;
        z-index: 50;
      }
      &::before {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        width: 200%;
        height: 100%;

        content: "";
      }
    }
  }

  &-header.t-border {
    border-bottom: 1px solid $color;
  }

  &-left {
    left: 0;

    &.t-border {
      border-right: 1px solid $color;
    }
    .t-control-strip {
      right: -5px;
    }
    &.hidden .t-control-strip {
      right: -10px;
    }
  }

  &-right {
    right: 0;

    &.t-border {
      border-left: 1px solid $color;
    }
    .t-control-strip {
      left: -5px;
    }
    &.hidden .t-control-strip {
      left: -10px;
    }
  }

  &-footer {
    &.t-border {
      border-top: 1px solid $color;
    }
    .t-control {
      &-strip {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10px;
        background-color: #cccccc;
        opacity: 0;
        z-index: 50;

        &:hover {
          opacity: 1;
        }

        &::after {
          content: "";
          position: absolute;
          top: -5px;
          left: 0;
          width: 100%;
          height: calc(100% + 10px);
        }
      }
    }
  }

  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
  }

  &-body {
    width: 100%;
    height: 100%;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, margin-left 0.5s ease-in-out,
      margin-right 0.5s ease-in-out;
  }

  &.t-border {
    // $color: #d7dae2;
    border: 1px solid $color;

    & > .t-layout {
      &-header {
        border-bottom: 1px solid $color;
      }

      &-left {
        border-right: 1px solid $color;
      }

      &-right {
        border-left: 1px solid $color;
      }

      &-footer {
        border-top: 1px solid $color;
      }
    }
  }

  &.t-drag {
    .t-layout {
      &-header,
      &-footer,
      &-left,
      &-right,
      &-body {
        transition: none;
      }
    }
  }

  &.t-overflow {
    .t-layout {
      &-header,
      &-footer,
      &-body,
      &-left,
      &-right {
        overflow: hidden;
      }
    }
    .t-control-strip {
      cursor: no-drop;
    }
  }
}

.t-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: auto;

  min-width: 0;
  height: 100%;
  box-sizing: border-box;

  &.is-vertical {
    flex-direction: column;
  }
  &.is-border {
    .t-header {
      border-bottom: 1px solid #eeeeee;
    }
    .t-aside {
      border-right: 1px solid #eeeeee;

      &-control-strip {
        border-right: none;
      }
    }
    .t-body {
      ~ .t-aside {
        border-left: 1px solid #eeeeee;
        border-right: none;

        &-control-strip {
          border-left: none;
          border-right: 1px solid #eeeeee;
        }
      }
    }
    .t-footer {
      border-top: 1px solid #eeeeee;
    }
  }

  .t-header {
    &.is-border {
      border-bottom: 1px solid #eeeeee;
    }
  }
  .t-aside {
    position: relative;
    // display: flex;

    &:hover {
      .t-aside-control-strip {
        opacity: 1;
      }
    }

    &.is-border {
      border-right: 1px solid #eeeeee;

      .t-aside-control-strip {
        border-right: none;
      }
    }

    &-wrapper {
      flex: 1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &-control-strip {
      position: absolute;
      top: 0;
      right: 0;
      // position: relative;
      // display: flex;

      width: 5px;
      height: 100%;
      border-left: 1px solid #eeeeee;
      border-right: 1px solid #eeeeee;
      background-color: #f6f6f6;

      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 300%;
        height: 100%;

        content: "";
      }
      &:hover {
        background-color: #fafafa;
      }
      &.is-click {
        &,
        &::before {
          cursor: pointer;
        }

        &.is-show {
          opacity: 1;
        }
      }
      &.is-move {
        &,
        &::before {
          cursor: ew-resize;
        }
      }
    }
  }
  .t-body {
    display: block;
    flex: 1;
    flex-basis: auto;

    width: 0;
    box-sizing: border-box;

    ~ .t-aside {
      flex-direction: row-reverse;

      &.is-border {
        border-left: 1px solid #eeeeee;
        border-right: none;

        // &:last-child {
        //   border-right: none;
        // }

        .t-aside-control-strip {
          border-left: none;
          border-right: 1px solid #eeeeee;
        }

        + .t-aside.is-border {
          border-left: none;
        }
      }

      .t-aside-control-strip {
        right: auto;
        // border-left: none;
        // border-right: 1px solid #eeeeee;

        &::before {
          left: 0;
          transform: translateX(0);

          width: 200%;
        }
      }
    }
  }
  .t-footer {
    position: relative;
    // display: flex;
    flex-direction: column;

    &:hover {
      .t-footer-control-strip {
        opacity: 1;
      }
    }

    &.is-border {
      border-top: 1px solid #eeeeee;

      .t-footer-control-strip {
        border-top: none;
      }
    }

    &-wrapper {
      // flex: 1;
      // height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    &-control-strip {
      position: absolute;
      // display: flex;
      cursor: ns-resize;
      z-index: 10;

      width: 100%;
      height: 5px;
      border-bottom: 1px solid #eeeeee;
      background-color: #f6f6f6;

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        width: 100%;
        height: 300%;

        content: "";
      }
      &:hover {
        background-color: #fafafa;
      }
    }
  }

  .t-aside,
  .t-header,
  .t-footer {
    flex-shrink: 0;
    box-sizing: border-box;
  }
  .t-aside,
  .t-footer {
    &-control-strip {
      opacity: 0;
    }
  }
  .t-aside,
  .t-body {
    transition: width 0.4s linear;
  }
  .t-aside.is-move {
    transition: none;
  }

  .t-container ~ .t-aside {
    &.is-border {
      border-left: 1px solid #eeeeee;
      border-right: none;

      .t-aside-control-strip {
        left: 0;
        right: auto;
      }
    }
  }
}

.t-grid-layout {
  overflow: auto;
  box-sizing: border-box;
  height: 100%;
  // font-size: 0;

  > div,
  > .t-panel {
    float: left;
    box-sizing: border-box;
    // font-size: 14px;
  }
}

.t-control {
  &-strip {
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
  }
}
