@import "./common/base.scss";
@import "./mixins/base.scss";

@mixin table-wrapper {
  &-wrapper {
    height: calc(100% - 48px);
    .el-table__empty-block {
      width: 100% !important;
    }
  }
}

.t-table {
  width: 100%;
  height: 100%;
  @include row-spacing($margin);

  font-size: inherit;

  .el-table {
    &__empty-block {
      height: 100%;

      .el-table__empty-text {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__body {
      // @include table-wrapper;

      &__body-wrapper {
        position: static;
      }

      .el-button {
        &--small,
        &--small.is-round,
        &--mini,
        &--mini.is-round {
          padding: 5px 2px;
        }

        + .el-button {
          margin-left: 5px;
        }

        &--text {
          margin-top: -12px;
          margin-bottom: -12px;
          margin-right: 5px;

          &:hover {
            color: #2d81d8;
          }
        }
      }
    }
  }
  th > .cell {
    white-space: nowrap;
  }

  &__radius {
    &.el-table {
      &--border {
        border-radius: 4px;
      }
    }
  }

  &-panel {
    height: 100%;
    box-sizing: border-box;
  }
}
